.apropos {
    width: 100%;
    padding: 30px 100px;

    .propos {
        padding: 70px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        h1 {
            margin-bottom: 20px;
            font-family: 'Backline-JRV5n';
        }
        div {
            display: flex;
            gap: 10px;
            align-items: center;

            img {
                width: 232px;
                height: 232px;
            }

            p {
                margin: 0;
                text-align: center;
                font-family: 'FuturaHandwritten';
                font-size: var(--font-size-h5);
            }
        }
        ul {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;

            li {
                position: relative;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                .img {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -10;

                    .icon-bg {
                        width: 130%;
                        height: 160px;
                    }
                }
            }
            .odd {
                h4 {
                    color: var(--color-secondary);
                    position: relative;
                    left: 15%;
                    top: 20%;
                }
                .img {
                    color: var(--color-primary);
                }
            }
            .even {
                h4 {
                    color: var(--color-primary);
                    position: relative;
                    left: 15%;
                    top: 20%;
                }
                .img {
                    color: var(--color-secondary);
                }
            }
            .big {
                width: 25%;
                h4 {
                    font-size: var(--font-size-h5);
                }
                .img {
                    color: var(--color-secondary);
                }
            }
        }
    }
    .competences {
        padding: 70px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;

        .bg-competence {
            position: absolute;
            width: 50%;
            left: -500px;
            top: -300px;
            z-index: -100;
        }

        h1 {
            font-family: 'Backline-JRV5n';
        }

        ul {
            display: flex;
            justify-content: space-between;
            padding: 0;

            li {
                position: relative;
                width: 30%;
                display: flex;
                align-items: center;

                .content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    z-index: 10;
                    color: var(--color-secondary);
                    h3 {
                        font-weight: 600;
                        font-size: var(--font-size-h4);
                        text-align: center;
                    }
                    a {
                        color: inherit;
                    }
                }
                .img {
                    width: 125%;
                    height: 125%;
                    position: absolute;
                    top: -22px;
                    left: -31px;
                    z-index: -10;
                    transform: rotate(-15deg);

                    .icon-bg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .even {
                .content {
                    color: var(--color-primary);
                }
                .img {
                    color: var(--color-secondary);
                }
            }
        }
    }
    .logiciels {
        padding: 70px 0;
        display: flex;
        flex-direction: column;
        gap: 50px;

        h1 {
            font-family: 'Backline-JRV5n';
        }

        .logiciels-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px 80px;

            .logiciel {
                display: flex;
                align-items: center;
                gap: 30px;

                .bar-container {
                    width: 100%;
                    height: 32px;
                    background-color: var(--color-white);
                    display: flex;
                    border-radius: 44px;
                    border: 2px solid var(--color-primary);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                    .bar {
                        height: 101%;
                        background-color: var(--color-primary);
                        border-radius: 44px 44px 44px 50px;
                        transition-duration: 1s;
                    }
                    .bar1,
                    .bar5 {
                        width: 80%;
                    }
                    .bar2,
                    .bar6 {
                        width: 40%;
                    }
                    .bar7 {
                        width: 100%;
                    }
                    .bar3 {
                        width: 50%;
                    }
                    .bar4 {
                        width: 70%;
                    }
                    .bar8 {
                        width: 90%;
                    }
                }
                span {
                    width: 60px;
                    height: 60px;
                    border-radius: 5px;
                }
                svg {
                    padding: 10px;
                    background-color: var(--color-primary);
                    width: 60px;
                    height: 60px;
                    border-radius: 5px;
                    fill: white;
                }
            }
        }
    }

    .passions {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 70px 0;

        h1 {
            font-family: 'Backline-JRV5n';
        }

        ul {
            display: flex;
            gap: 0px;
            justify-content: center;
            align-items: center;

            li {
                position: relative;
                padding: 75px;

                img {
                    width: 100px;
                }

                .glass {
                    filter: blur(10px);
                    position: absolute;
                    top: -36px;
                    left: -59px;
                    z-index: -1;
                    width: 125%;
                    height: 120%;
                    img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 150%;
                        height: 100%;
                    }
                }

                .img {
                    width: auto;
                }
            }
        }
        .savoir-plus {
            // .video-propos {
            //     margin: 100px auto;

            //     video {
            //         width: 50%;
            //         display: block;
            //         margin: 0 auto;
            //     }
            // }
            .video-propos {
                margin: 100px auto;

                .video__media {
                    border-radius: 40px;
                    overflow: hidden;
                    border: 4px solid var(--color-secondary);
                    color: var(--color-primary);
                }
            }
        }
    }
    @media screen and (max-width: $breakpoint-md) {
        padding: 30px;
        .propos {
            div {
                flex-direction: column;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 60px;

                li,
                .big {
                    margin: 30px 0 0 0;
                    width: 85%;
                }
            }
            .odd,
            .even {
                h4 {
                    position: relative;
                    left: 5px !important;
                    top: 40px !important;
                    z-index: 10;
                    color: var(--color-secondary);
                }
            }
            .big {
                h4 {
                    position: relative;
                    left: 10px !important;
                    top: 20px !important;
                    color: var(--color-primary);
                }
            }
        }
        .competences {
            ul {
                flex-direction: column;
                gap: 30px;

                li {
                    width: 100%;
                    .img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: -12px;
                        left: -11px;
                        z-index: -10;
                        transform: rotateZ(-15deg);
                        object-fit: cover;

                        .icon-bg {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .logiciels {
            .logiciels-container {
                gap: 20px;
                grid-template-columns: repeat(1, 1fr);

                .logiciel {
                    gap: 10px;

                    .bar-container {
                        width: 40%;
                        height: 20px;
                    }
                }
            }
        }
        .passions {
            gap: 30px;
            ul {
                flex-direction: column;
                gap: 10px;

                li {
                    img {
                        max-width: 70%;
                    }
                    .glass {
                        height: 100%;
                        top: 0;
                    }
                }
            }
        }
    }
}
