.container-cursor {
    cursor: none;
  
    *:hover {
      cursor: none;
    } 

    // .cursor {
    //     display: none;
    //     position: fixed;
    //     z-index: 100;
    //     pointer-events: none;
    //     border-radius: 50%;
    //     width: 15px;
    //     height: 15px;
    //     background-color: var(--color-secondary);
    //     transition: 0.3s opacity ease-out;
    
    
    //     &.hover {
    //         transform: scale(0.5);
    //         animation: animate1 1.2s ease-in-out infinite;
    //         opacity: 0.5;
    //         //Pour animation
    //          @keyframes animate1 {
    //              0% {
    //                  transform: scale(0.9);
    //              }
    //          50% {
    //                 transform: scale(1.9);
    //              }
    //              100% {
    //                  transform: scale(1);
    //              }
    
    //      }
    
    //     }
    //     &.down {
    //         transform: scale(1.1);
    //     }
    // }
    .cursor {
        position: absolute;
        z-index: 100;
        pointer-events: none;
        mix-blend-mode: difference;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        border: 2px solid var(--color-secondary);
    
        .cursor2 {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 3px solid rgba(255,193,69,0.4);
            position: absolute;
            top: -7px;
            left: -7px;
        }
    
    
        &.hover {
            transform: scale(0.8);
            //Pour animation
            .cursor2 {
                animation: animate1 1.5s ease-in-out infinite;
            }
            @keyframes animate1 {
                0% {
                    transform: scale(0.9);
                }
                50% {
                    transform: scale(1.5);
                }
                100% {
                    transform: scale(0.9);
                }
    
            }
    
        }
        &.down {
            transform: scale(1.1);
        }
    }
}



