.footer {
    width: 100%;
    padding: 100px 50px 100px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    h2 {
        font-family: var(--font-third);
        text-transform: uppercase;
    }
    .glass {
        filter: blur(300px);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: -1;

        img {
            width: 100%;
        }

    }

    div {
        display: flex;
        gap: 40px;
    }
    ul {
        display: flex;
        gap: 30px;
        li {
            
            background-color: var(--color-white);
            padding: 10px;
            border-radius: 50%;
            color: var(--color-primary);
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        flex-direction: column;
        padding: 100px 30px 30px;
        gap: 20px 0;

        div {
            flex-direction: column;
            text-align: center;
        }
    }

}