.left-nav {
    position: fixed;
    left: 0;
    top: 200px;
    transition: transform 0.7s ease-in-out;
    z-index: 10;
    
    @media screen and (max-width: $breakpoint-md) {
        display: none;
    }

    img {
        position: absolute;
        z-index: -1;
        left: 0;
        height: 300px;
    }
    
    ul {
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px 0 10px;
        
        li {
            background-color: var(--color-white);
            padding: 10px;
            border-radius: 50%;
            box-shadow: 5px 5px 3px rgb(0 0 0 / 30%);
            svg {
                width: 25px;
                height: 25px;
            }
        }
    }
}
.nav-left-hidden.is-scrolling-down {
    .left-nav {
        transform: translateX(-100%) translateX(4px);
    }
}
.hero {
    width: 100%;
    position: relative;

    .glass {
        filter: blur(300px);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: -1;

        img {
            width: 100%;
        }

    }
    .description {
        text-align: center;
        h1 {
            font-family: "Backline-JRV5n";
        }
        h3 {
            font-family: "FuturaHandwritten";
            font-weight: unset;
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        }
    }
    .video-hero {
        margin: 100px auto 0 auto;
        height: 70%;
        
        .video__media{
            border-radius: 40px;
            overflow: hidden;
            border: 4px solid var(--color-secondary);
            color: var(--color-primary);
        
            @media screen and (max-width: $breakpoint-md) {
                height: 200px;
            }
        }
    }
    @media screen and (max-width: $breakpoint-md) {
        padding: 60px 30px;
    }
}