.left-nav {
    position: absolute;
    left: 0;
    top: 200px;
    transition: transform 0.7s ease-in-out;
    z-index: 10;

    img {
        position: absolute;
        z-index: -1;
        left: 0;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 25px;
        margin: 0;
        
        li {
            background-color: var(--color-white);
            padding: 10px;
            border-radius: 50%;
        }
    }
}
.nav-left-hidden.is-scrolling-down {
    .left-nav {
        transform: translateX(-100%) translateX(4px);
    }
}
.hero {
    width: 100%;
    position: relative;

    .glass {
        filter: blur(300px);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: -1;

        img {
            width: 100%;
        }

    }
    .description {
        text-align: center;
    }
    .video-hero {
        margin: 100px auto;
        
        .video__media{
            height: 70%;
            border-radius: 40px;
            overflow: hidden;
            border: 4px solid var(--color-secondary);
            color: var(--color-primary);
        }
    }
    @media screen and (max-width: $breakpoint-md) {
        padding-left: 70px;
        padding-top: 100px;
    }
}