.projets {
    width: 100%;
    padding: 30px 50px 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
        font-family: 'Backline-JRV5n';
    }

    .projet {
        display: flex;
        gap: 30px;
        align-items: center;
        width: 100%;

        .left {
            display: flex;
            flex-direction: column;
            //width: min-content;
            position: relative;
            max-width: 30%;
            width: 35%;
            align-items: center;

            .glass {
                filter: blur(30px);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                z-index: -1;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            h2 {
                margin: 0 auto 0 0;
                font-size: var(--font-size-h3);
            }
            .description {
                margin: 0 auto 0 0;
            }
        }
        .chapitre {
            font-family: 'KGShadowOfTheNight';
            font-weight: 400;
        }
        .titre {
            font-size: 4rem;
            font-family: 'KGShadowOfTheDay';
            letter-spacing: 15px;
            margin: 0 auto 0 0;
        }
        .center {
            position: relative;
            width: 35%;

            .img-container {
                img {
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(100%);
                    transition: 0.3s all ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                        transition: 0.3s all ease-in-out;
                        filter: none;
                        -webkit-filter: grayscale(0);
                    }
                }
            }
            .video-container {
                width: 100%;
                height: 100%;
                .video-projet {
                    margin: 100px auto;

                    .video__media {
                        height: 100%;
                        color: var(--color-primary);

                        img {
                            object-fit: contain;
                            transform: scale(1.7);
                            filter: grayscale(100%);
                            -webkit-filter: grayscale(100%);
                            transition: 0.3s all ease-in-out;

                            &:hover {
                                transform: scale(1.9);
                                transition: 0.3s all ease-in-out;
                                filter: none;
                                -webkit-filter: grayscale(0);
                            }
                        }
                    }
                }
            }
            .logos {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .logo {
                    background-color: var(--color-primary);
                    border-radius: 5px;
                    width: 60px;
                        height: 60px;
                    svg {
                        width: 60px;
                        height: 60px;
                        color: var(--color-white);
                    }
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 20%;
            img {
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
                transition: 0.3s all ease-in-out;
                display: block;
                max-width: 100%;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.3s all ease-in-out;
                    filter: none;
                    -webkit-filter: grayscale(0);
                }
            }
            div {
                a {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    color: var(--color-primary-light);
                    width: 100%;
                    white-space: nowrap;
                    span {
                        font-family: 'Backline-JRV5n';
                        font-size: var(--font-size-h2);
                    }
                }
            }
        }
    }
    .autres {
        position: relative;
        padding-bottom: 100px;

        .bg-autres {
            position: absolute;
            width: 12%;
            right: -60px;
            top: -170px;
            z-index: -100;
        }
        .description-container {
            p {
                font-size: var(--font-size-h4);
                max-width: 70%;
            }
        }
        .logiciels {
            display: flex;
            gap: 20px;
            justify-content: center;

            .logiciel {
                background-color: var(--color-primary);
                font-weight: 400;
                border-radius: 10px;
                padding: 5px;
                color: var(--color-white);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
            }
            .log2 {
                padding: 15px 0px;
            }
            .log3 {
                padding: 7px 0px;
            }
            img {
                padding: 5px;
                object-fit: contain;
            }
            svg {
                padding: 5px;
                width: 60px;
                height: 60px;
            }
        }
        .swiper-projets {
            .swiper-wrapper {
                display: flex;
                align-items: center;

                .swiper-slide {
                    padding: 50px 0;
                    .video-projet {
                        margin: 0;

                        .video__media {
                            img {
                                object-fit: contain;
                                transform: scale(1.5);
                            }
                        }
                    }
                }
            }
        }
        .glass {
            filter: blur(100px) grayscale(0.4);
            width: 60%;
            position: absolute;
            bottom: 150px;
            right: 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            z-index: -1;

            img {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        padding: 30px 20px 30px 30px;
        .projet {
            flex-direction: column;

            .left {
                width: fit-content;
                max-width: 100%;
                margin-right: auto;
            }
            .center {
                width: 100%;
            }
            .right {
                width: 100%;
            }
        }

        .autres {
            .description-container {
                width: 100%;
                p {
                    width: 100%;
                }
            }
            .logiciels {
                display: grid;
                grid-template-columns: repeat(4, 60px);
            }
        }
    }
}
