/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

   h1 {
    font-family: var(--font-secondary);
    margin: 0;
    font-size: var(--font-size-h1);
    line-height: 1;
}
h2,
h3,
h4,
h5,
h6, p {
    font-family: var(--font-primary);
    
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 400;
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}
@media screen and (max-width: $breakpoint-md)  {
    h1 {
        font-size: var(--font-size-h2);
    }
    h2 {
        font-size: var(--font-size-h3);
    }
    
    h3 {
        font-size: var(--font-size-h4);
    }
    
    h4 {
        font-size: var(--font-size-h5);
    }
    
}
@media screen and (max-width: $breakpoint-sm) {
    h1 {
        font-size: var(--font-size-h3);
    }
    h2 {
        font-size: var(--font-size-h4);
    }
    h3,h4 {
        font-size: var(--font-size-h5);
    }

}