/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #ffffff;
    --color-black: #000000;

    // Couleurs du projet
    --color-primary: #211A44;
    --color-secondary: #E2BAD5;

    --color-primary-light: #5C5692;

    --color-bg: #ffffff;
    --color-neutral-dark: #231F33;
}
