/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'FuturaHandwritten', sans-serif;
    --font-secondary: 'Backline', sans-serif;
    --font-third: 'KG Shadow of the Day', sans-serif;
    --font-fourth: 'KG Shadow of the Night', sans-serif;
    --font-fifth: 'Open Sans', sans-serif;

    --font-size-content: 1rem;
    --font-size-md: 0.9rem;
    --font-size-sm: 0.8rem;

    --font-size-button: 1.25rem;

    /// Grosseur des textes
    --font-size-h1: 70px;
    --font-size-h2: 45px;
    --font-size-h3: 36px;
    --font-size-h4: 22px;
    --font-size-h5: 20px;

    
}
